.chat-viewer {
  flex: 1 1 0;

  overflow-y: hidden;
  padding: 0.5em 1em 1em;

  ul {

    height: 100%;

    overflow-y: auto;
    margin: 0;
    padding: 0;

    list-style-type: none;

    li {
      word-wrap: break-word;
    }
  }
}
